{% extends 'layout.html' %}

{% block body %}
  <h1>{{table}}</h1>
<a href="/bread/browse/{{table}}/insert" type="button" class="btn btn-success">Add</a>
<table class="table">
    <thead>
    <tr>
    {% for column in columns %}
        <th>{{column[0]}}</th>
    {% endfor %}
        <th class="text-right">BREAD Actions</th>
    </tr>
    </thead>
    <tbody>
{% for row in rows %}
        <tr>
            {% for item in row %}
          <td>{{item}}</td>
            {% endfor %}
          <td class="text-right">
            <a href="/bread/browse/{{row[0]}}/edit" type="button" class="btn btn-warning btn-sm">Edit</a>
            <a href="/bread/browse/{{row[0]}}/delete" type="button" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}